<h1 align='center'>Todd and Phil's Survey Engine</h1>
<h2 align='center'>CS 441  Spring 2011</h2>

<table>
  <tr>
    <th><font size="5">Surveys:</font></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= @emptyMessage %></td>
  </tr>
<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.name %></td>
	<td><%= link_to 'Take', take_url(:id => survey.id) %></td>
	<td><%= link_to 'View Results', result_url(:id => survey.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Survey Administration', '/admin' %>
